<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAUTH_SECRET</key>
	<string>&lt;secret&gt;</string>
	<key>OAUTH_KEY</key>
	<string>&lt;key&gt;</string>
	<key>DOMAIN</key>
	<string>&lt;host&gt;</string>
</dict>
</plist>
